<template>
    <div class="car-item-content">
        <div class="car-item-content__header">
            <span class="car-item-content__header-year">{{item.year}}</span>
            <span class="car-item-content__header-model">{{item.model}}</span>
            <span class="car-item-content__header-brand">{{item.brand}}</span>
        </div>
        <div class="car-item-content__img">
            <img :src="item.imageUrl" alt="">
            <div class="car-item-content__btns">
                <button
                        class="car-item-content__btn car-item-content__btn--edit"
                        @click.prevent="toggleViewEdit()"
                >
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M0 7.5C0 3.35786 3.35786 0 7.5 0C11.6421 0 15 3.35786 15 7.5C15 11.6421 11.6421 15 7.5 15C3.35786 15 0 11.6421 0 7.5ZM8.14645 4.14645C8.34171 3.95118 8.65829 3.95118 8.85355 4.14645L10.8536 6.14645C11.0488 6.34171 11.0488 6.65829 10.8536 6.85355L6.70711 11H4.5C4.22386 11 4 10.7761 4 10.5V8.29289L8.14645 4.14645Z"
                              fill="white"/>
                    </svg>
                </button>
                <button
                        class="car-item-content__btn car-item-content__btn---delete"
                        @click.prevent="onDeleteVehicle()"
                >
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M0 7.5C0 3.35786 3.35786 0 7.5 0C11.6421 0 15 3.35786 15 7.5C15 11.6421 11.6421 15 7.5 15C3.35786 15 0 11.6421 0 7.5ZM10.1465 10.8536L7.50004 8.20714L4.85359 10.8536L4.14648 10.1465L6.79293 7.50004L4.14648 4.85359L4.85359 4.14648L7.50004 6.79293L10.1465 4.14648L10.8536 4.85359L8.20714 7.50004L10.8536 10.1465L10.1465 10.8536Z"
                              fill="white"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="car-item-content__desc">
            <dl class="car-item-content__desc-list">
                <dt>LOCATION</dt>
                <dd>{{item.location}}</dd>
                <dt>STATUS</dt>
                <dd>{{item.status}}</dd>
                <dt>MILEAGE</dt>
                <dd>{{item.mileage}}</dd>
            </dl>
        </div>
        <div class="car-item-content__footer">
            <div class="car-item-content__price">
                <span class="car-item-content__price-title">PRICE</span>
                <span class="car-item-content__price-value">{{priceFormat}}</span>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from "vuex";

    export default {
        name: "CarItemContent",
        props: {
            item: {
                type: Object,
                default: () => {},
            },
        },
        computed: {
            priceFormat() {
                return this.item.price && `${Number(this.item.price).toLocaleString('en-US', {minimumFractionDigits: 0})}$`;
            },
        },
        methods: {
            ...mapActions({
                deleteVehicle: 'deleteVehicle',
                fetchVehicles: 'fetchVehicles',
            }),
            async onDeleteVehicle() {
                this.item.id && await this.deleteVehicle(this.item.id);
                this.fetchVehicles();
            },
            toggleViewEdit() {
                this.$emit('onToggleViewEdit', this.item.id)
            }
        },
    }
</script>

<style scoped lang="scss">
    .car-item-content {
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px 10px 0 0;
            min-height: 40px;
            padding: 0 20px;
            margin: -20px -20px 0;
            background: #000;
            color: #fff;

            &-year {
                font-weight: 900;
            }

            &-model {
                font-weight: 900;
                font-size: 14px;
            }

            &-brand {
                text-transform: uppercase;
            }
        }

        &__img {
            margin: 0 -20px 15px;
            width: calc(100% + 40px);
            height: 135px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__btns {
            display: flex;
            position: absolute;
            right: 20px;
            bottom: 10px;
        }

        &__btn {
            width: 15px;
            height: 15px;
            cursor: pointer;
            margin-left: 10px;
            opacity: 1;
            transition: all .3s;

            svg {
                path {
                    transition: all .2s;
                }
            }

            &:hover {
                svg {
                    path {
                        fill: #000;
                    }
                }
            }
        }
        &__desc {
            padding: 0 0 5px;
        }
        &__desc-list {
            display: flex;
            flex-wrap: wrap;


            dt, dd {
                width: 50%;
                padding-bottom: 11px;
            }

            dt {
                font-weight: 900;
            }

            dd {
                text-align: right;
            }
        }

        &__footer {
            border-top: 1px solid #EBEBEB;
            padding: 21px 0 0;
            font-size: 12px;
        }

        &__price {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            font-size: 12px;
            font-weight: 900;

            &-value {
                font-style: italic;
                font-size: 14px;
            }
        }
    }
</style>