<template>
    <div class="car-item">
        <slot>
            <button
                    class="car-item--add"
                    @click.prevent="$emit('onToggleViewAdd')"
            >
                <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 30C0 13.4315 13.4315 0 30 0C46.5685 0 60 13.4315 60 30C60 46.5685 46.5685 60 30 60C13.4315 60 0 46.5685 0 30ZM28 44V32H16V28H28V16H32V28H44V32H32V44H28Z" fill="black"/>
                </svg>
            </button>
        </slot>
    </div>
</template>

<script>
    export default {
        name: "CarItemContainer",
        props: {},
        data() {
            return {
                view: 'default',
            }
        },
    }
</script>

<style scoped lang="scss">
    .car-item {
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 10px;
        width: 240px;
        min-height: 320px;
        margin: 0 20px 40px;
        padding: 20px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

        &--add {
            width: 60px;
            height: 60px;
            margin: auto;

            &:hover {
                width: 58px;
                height: 58px;
            }

            &:active {
                width: 60px;
                height: 60px;
            }
        }
    }
</style>