<template>
    <form
            class="form"
            action="#"
            autocomplete="off"
            @submit.prevent="onSubmit"
    >
        <div class="form__group">
            <div class="form__row">
                <label for="year">YEAR</label>
                <input type="number" id="year" v-model="form.year" placeholder="number">
            </div>
            <div class="form__row">
                <label for="brand">BRAND</label>
                <input type="text" id="brand" v-model="form.brand" placeholder="string">
            </div>
            <div class="form__row">
                <label for="model">MODEL</label>
                <input type="text" id="model" v-model="form.model" placeholder="string">
            </div>
            <div class="form__row">
                <label for="imageUrl">IMAGE URL</label>
                <input type="text" id="imageUrl" v-model="form.imageUrl" placeholder="string">
            </div>
        </div>
        <div class="form__group">
            <div class="form__row">
                <label for="location">LOCATION</label>
                <input type="text" id="location" v-model="form.location" placeholder="string">
            </div>
            <div class="form__row">
                <label for="status">STATUS</label>
                <input type="text" id="status" v-model="form.status" placeholder="string">
            </div>
            <div class="form__row">
                <label for="mileage">MILEAGE</label>
                <input type="number" id="mileage" v-model="form.mileage" placeholder="number">
            </div>
        </div>
        <div class="form__group">
            <div class="form__row form__row--price">
                <label for="price">PRICE</label>
                <input type="number" id="price" v-model="form.price" placeholder="number">
            </div>
        </div>
        <div class="form__submit-row">
            <button
                    v-if="isEdit"
                    class="btn btn--cancel"
                    @click.prevent="toggleViewEdit()"
            >
                <span class="btn__icon">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M0 7.5C0 3.35786 3.35786 0 7.5 0C11.6421 0 15 3.35786 15 7.5C15 11.6421 11.6421 15 7.5 15C3.35786 15 0 11.6421 0 7.5ZM10.1465 10.8536L7.50004 8.20714L4.85359 10.8536L4.14648 10.1465L6.79293 7.50004L4.14648 4.85359L4.85359 4.14648L7.50004 6.79293L10.1465 4.14648L10.8536 4.85359L8.20714 7.50004L10.8536 10.1465L10.1465 10.8536Z"
                              fill="black"/>
                    </svg>
                </span>
                <span class="btn__text">CANCEL</span>
            </button>
            <button
                    type="submit"
                    class="btn btn--submit"
                    :disabled="isDisabled"
            >
                <span class="btn__icon">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M0 7.5C0 3.35786 3.35786 0 7.5 0C11.6421 0 15 3.35786 15 7.5C15 11.6421 11.6421 15 7.5 15C3.35786 15 0 11.6421 0 7.5ZM7.0718 10.7106L11.3905 5.31232L10.6096 4.68762L6.92825 9.2893L4.32012 7.11586L3.67993 7.88408L7.0718 10.7106Z"
                              fill="#A6E000"/>
                    </svg>
                </span>
                <span class="btn__text">SUBMIT</span>
            </button>
        </div>
    </form>
</template>

<script>
    import {mapActions, mapGetters, mapMutations} from "vuex";

    export default {
        name: "CarItemForm",
        data() {
            return {
                defaultForm: {
                    year: null,
                    brand: '',
                    model: '',
                    imageUrl: '',
                    location: '',
                    status: '',
                    mileage: null,
                    price: null,
                },
                form: {},
                isDisabled: false,
            }
        },
        props: {
            isEdit: {
                type: Boolean,
                default: false,
            },
            vehicleId: {
                type: Number,
                default: null,
            },
        },
        computed: {
            ...mapGetters({
                vehicle: 'getVehicle',
            }),
        },
        methods: {
            ...mapMutations({
                setVehicle: 'setVehicle',
            }),
            ...mapActions({
                postVehicle: 'postVehicle',
                patchVehicle: 'patchVehicle',
                fetchVehicles: 'fetchVehicles',
                fetchVehicle: 'fetchVehicle',
            }),
            async onSubmit() {
                const formData = {};

                Object.keys(this.form).forEach(key => {
                    formData[key] = `${this.form[key]}`;
                });

                if (this.isEdit) {
                    await this.patchVehicle({
                            id: this.vehicleId,
                            data: formData
                        });
                    await this.fetchVehicles();
                    this.resetForm();
                    this.toggleViewEdit();
                } else {
                    await this.postVehicle(formData);
                    await this.fetchVehicles();
                    this.resetForm();
                    this.$emit('onToggleViewAdd');
                }
            },
            toggleViewEdit() {
                this.$emit('onToggleViewEdit');
            },
            resetForm() {
                this.form = {...this.defaultForm};
            },
            fillFormData() {
                this.form = {...this.vehicle};
            },
        },
        async mounted() {
            if (this.isEdit) {
                this.isEdit && await this.fetchVehicle(this.vehicleId);
            }

            Object.keys(this.vehicle).length ? this.fillFormData() : this.resetForm();
        },
        beforeDestroy() {
            this.setVehicle({});
        }
    }
</script>

<style scoped lang="scss">
    .form {
        &__group {
            border-bottom: 1px solid #EBEBEB;
            padding: 0 0 10px;
            margin: 0 0 13px;
        }

        &__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0 11px;

            &--price {
                label {
                    font-size: 12px;
                }

                input {
                    font-size: 14px;
                    font-weight: 900;
                }
            }
        }

        label {
            font-weight: 900;
        }

        input {
            text-align: right;
            padding: 0;
            border: 0;
            max-width: 50%;
        }

        &__submit-row {
            display: flex;
            align-items: center;
            padding: 7px 0 0;
        }

        .btn {
            display: inline-flex;
            align-items: center;
            font-weight: 900;
            color: #000;

            &--submit {
                margin-left: auto;
                color: #A6E000;
            }

            &__icon {
                width: 15px;
                height: 15px;
                margin-right: 10px;
            }

            &__text {

            }

        }
    }
</style>