<template>
    <div class="cars-list">
        <CarItemContainer @onToggleViewAdd="toggleViewAdd">
            <CarItemForm
                    v-if="isAddMode"
                    @onToggleViewAdd="toggleViewAdd"
            />
        </CarItemContainer>
        <CarItemContainer
                v-for="item in items"
                :item="item"
                :key="item.id"
        >
            <CarItemForm
                    v-if="item.id === editModeVehicleId"
                    :is-edit="true"
                    :vehicle-id="item.id"
                    @onToggleViewEdit="toggleViewEdit"
            />
            <CarItemContent
                    v-else
                    :item="item"
                    :key="item.id"
                    @onToggleViewEdit="toggleViewEdit"
            />
        </CarItemContainer>
    </div>
</template>

<script>
    import CarItemContainer from "@/components/cars/CarItemContainer";
    import CarItemForm from "@/components/cars/CarItemForm";
    import CarItemContent from "@/components/cars/CarItemContent";

    export default {
        name: "CarsList",
        components: {
            CarItemContent,
            CarItemContainer,
            CarItemForm,
        },
        props: {
            items: {
                type: Array,
                default: () => [],
            },
        },
        data() {
            return {
                loading: true,
                isAddMode: false,
                editModeVehicleId: null,
            }
        },
        computed: {},
        methods: {
            toggleViewAdd() {
                this.isAddMode = !this.isAddMode;
            },
            toggleViewEdit(id) {
                this.editModeVehicleId = id;
            },
        },
        mounted() {},
    }
</script>

<style scoped>
    .cars-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: calc(100% + 40px);
        margin: 0 -20px;
    }
</style>