<template>
    <div class="view-more-row">
        <button
                class="btn"
                @click.prevent="$emit('onToggleViewMore')"
        >
            {{btnText}}
        </button>
    </div>
</template>

<script>
    export default {
        name: "ViewMore",
        props: {
            btnText: {
                type: String,
                default: '',
            }
        },
        data() {
            return {
                view: 'default',
            }
        },
    }
</script>

<style scoped lang="scss">
    .view-more-row {
        display: flex;
        justify-content: center;
    }

    .btn {
        background: #010007;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 900;
        padding: 10px;
        min-width: 160px;
        height: 40px;
        color: #fff;
    }
</style>