*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  background: #E5E5E5;
  color: $baseDarkColor;
  font-family: $fontDefault;
  font-size: 10px;
  font-weight: 500;
}

html, body {
  position: relative;
  min-height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: inherit;
}

a {
  outline: 0;
  border: 0;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

img {
  vertical-align: middle;
  border: 0;
  max-height: 100%;
  max-width: 100%;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

table {
  background-color: transparent;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: none;
}