.fade-list-enter-active, .fade-list-leave-active {
  transition: opacity .25s;
}
.fade-list-enter-active, .fade-list-leave-to {
  transition-delay: .25s;
}
.fade-list-leave-active, .fade-list-enter {
  transition-delay: 0s;
}
.fade-list-enter, .fade-list-leave-to {
  opacity: 0;
}

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}
