<template>
  <div class="main-page">
    <CarsList />
  </div>
</template>

<script>
  import CarsList from "@/components/cars/CarsList";

export default {
  name: 'Index',
  components: {
    CarsList,
  },
}
</script>