input {

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-input-placeholder {
  font-style: italic;
  color: #A8A8A8;
}
::-moz-placeholder {
  font-style: italic;
  color: #A8A8A8;
}/* Firefox 19+ */
:-moz-placeholder {
  font-style: italic;
  color: #A8A8A8;
}/* Firefox 18- */
:-ms-input-placeholder {
  font-style: italic;
  color: #A8A8A8;
}