.container {
  margin: 0 auto;
  max-width: 1080px;
}

@media #{$medium-and-up} {
  .container {
    width: 90%;
  }
}

@media #{$small-and-down} {
  section > .container {
    width: auto;
    margin: 0 16px;
  }
}