$baseDarkColor: #152329;

$baseBlueColor: #4A90E2;
$baseOrangeColor: #EE6100;
$baseOrangeColor70: #F18133;
$baseOrangeColorLighten: #FF7A00;
$baseYellowColor: #EEBA00;
$baseWhiteColor: #ffffff;
$baseBlackColor: #000;

$baseRedColor: #FF5858;
$baseRedColorLighten: #E64B4B;
$baseGreenColor: #21CF3D;
$secondaryRedColor: #F54141;

$baseSoftColor: #FAFAFA;
$baseGrayColor: #EBEBEB;
$baseGrayButtonColor: #E1E1E1;
$baseGrayTextColor: #ABABAB;
$baseGrayDarkTextColor: #495358;
$baseGrayMediumTextColor: #7C8386;
$baseGrayLightColor: #C4C4C4;
$baseGrayMediumColor: #F4F5F5;

$baseBorderColor: #EBEBEB;
$baseBgColor: #FCFCFC;

$appSectionBaseColor: #7C8386;
$appSectionInputColor: #B0B4B5;

$transparentButtonColor: #495358;
$transparentButtonHoverColor: lighten($transparentButtonColor, 20%);

$baseUserGrayLightColor: #7C8386;
$baseUserBorderColor: #DADBDB;
$baseUserHorizontalRuleColor: #f2f2f2;

$baseDarkRedColor: #F54141;
$baseDarkRedColorLighten: lighten($baseDarkRedColor, 5%);

$sliderBackgroundColor: #121a23;

$transitionFunctionBase: ease;
$transitionTimeBase: 0.3s;

$fontDefault: 'Roboto', Helvetica, Arial, sans-serif;
$fontAccent: 'Montserrat', Helvetica, Arial, sans-serif;
$fontProximaNova: 'ProximaNova', Helvetica, Arial, sans-serif;

$instructionMultiplyPadding: 64px;

// 11. Global
// ==========================================================================

// Media Query Ranges

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$extra-large-screen-up: 1921px !default;
$extra-small-320: 320px !default;
$extra-small-screen: 415px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$medium-screen-settings: 803px !default;
$small-screen-recommendations: 767px !default;
$small-screen-768: 768px !default;
$bigger-screen: 1380px !default;
$bigger-screen-garage: 1704px !default;
$medium-screen-statistics: 1100px !default;
$medium-screen-extra: 1024px !default;

$small-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$large-and-down: "only screen and (max-width : #{$large-screen})" !default;
$bigger-and-down: "only screen and (max-width : #{$bigger-screen})" !default;
$bigger-and-up: "only screen and (min-width : #{$bigger-screen})" !default;
$bigger-and-down-garage: "only screen and (max-width : #{$bigger-screen-garage})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$extra-large-and-up2: "only screen and (min-width : #{$extra-large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-and-down-statistics: "only screen and (max-width : #{$medium-screen-statistics})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$extra-medium-only: "only screen and (min-width : #{$small-screen-recommendations}) and (max-width : #{$large-screen})" !default;
$extra-small-and-down: "only screen and (max-width : #{$extra-small-screen})" !default;
$extra-small-and-down-320: "only screen and (max-width : #{$extra-small-320})" !default;
$small-and-down-recommendations: "only screen and (max-width : #{$small-screen-recommendations})" !default;
$small-and-down-768: "only screen and (max-width : #{$small-screen-768})" !default;
$medium-and-down-extra: "only screen and (max-width : #{$medium-screen-extra})" !default;

// 12. Grid
// ==========================================================================

$num-cols: 12 !default;
$gutter-width: 20px !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

/* Position
-------------------------- */
$z-modal: 100;
$z-header: 75;
