<template>
    <div id="app">
        <div class="container">
            <CarsList :items="vehicles"/>
            <ViewMore
                    v-if="showViewMore"
                    :btn-text="viewMoreText"
                    @onToggleViewMore="toggleViewMore"
            />
        </div>
    </div>
</template>

<script>
    import CarsList from "@/components/cars/CarsList";
    import ViewMore from "@/components/cars/ViewMore";
    import {mapGetters, mapActions, mapMutations} from 'vuex';

    export default {
        name: 'App',
        components: {
            CarsList,
            ViewMore,
        },
        data() {
            return {
                items: [],
                loading: true,
            }
        },
        computed: {
            ...mapGetters({
                vehicles: 'getVehicles',
                getIsShownMore: 'getIsShownMore',
                getAllVehiclesLength: 'getAllVehiclesLength',
                getVisibleItemsNum: 'getVisibleItemsNum',
            }),
            viewMoreText() {
                return this.getIsShownMore ? 'SHOW LESS' : 'SHOW MORE';
            },
            showViewMore() {
                return this.getAllVehiclesLength > this.getVisibleItemsNum;
            }
        },
        methods: {
            ...mapActions({
                fetchVehicles: 'fetchVehicles',
            }),
            ...mapMutations({
                toggleShownMore: 'toggleShownMore',
            }),
            toggleViewMore() {
                this.toggleShownMore();
            }
        },
        mounted() {
            this.fetchVehicles();
        },
    }
</script>

<style lang="scss">
    #app {
        padding: 80px 0;
    }
</style>
